html, body {
    margin: 0;
    padding: 0;
    max-height: 917px;
    overflow: hidden;
}

.content-wrapper {
    background-color: rgb(white);
    height: 917px;
    width: 412px;
    margin: auto;
    background-image: url('../Images/background.png');
    padding-top: 23px;
}

.back-btn {
    margin-left: 23px;
    margin-bottom: 10px;
    cursor: pointer;
}

h1 {
    text-align: left;
    margin: 0;
    margin-left: 23px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: black;
    
}

.subheading {
    text-align: left;
    margin: 0;
    margin-left: 23px;
    margin-bottom: 223px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: black;
}

.ui-wrapper {
    background-color: #3B455E;
    text-align: center;
    height: 700px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding-top: 56px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

input {
    margin: 0px 23px 20px 48px;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    width: 285px;
    font-family: "Inter", sans-serif;
}

.ui-wrapper button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 313px;
    height: 50px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-left: 48px;
}

label {
    text-align: left;
    margin-left: 48px;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 20px;

}

checkbox-group {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}
checkbox-group input {
    margin-right: 0px;
    width: 24px;
    height: 24px;
    margin-top: 0px;
}
checkbox-group label {
    font-size: 15px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 10px;
    margin-top: 2px;

}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 54px;
    margin-bottom: 14px;
}

.divider p {
    color: white;
    font-family: "Inter", sans-serif;
}

.divider svg {
    flex: 1;
    height: 1px;
    background-color: white;
    margin:13px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    gap: 20px;
}

.social-icon {
    cursor: pointer;
}

.social-icon-apple {
    padding-top: 4px;
    width: auto;
    height: 43px;
    cursor: pointer;
}

