html, body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    background-color: rgb(white);
    height: 917px;
    max-height: 917px;
    width: 412px;
    margin: auto;
    background-image: url('../Images/background.png');
}

.logo-image {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 140px;
}

.ui-wrapper {
    background-color: #3B455E;
    text-align: center;
    height: 215px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 55px;
    width: 313px;
    height: 50px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.sign-up-container {
    display: inline-flex;
    color: white;
    margin-top: 20px;
}

.sign-up-container p {
    margin: 0;
    padding-right: 10px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

.sign-up-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}
